.choose-title {
  display: block;
  height: 100%;
  .title-content {
    text-align: center;
    margin-left: auto;
  }
  span {
    font-size: 20rem;
    z-index: 1;
    opacity: 0.25;
    font-family: $font-family-number;
    color: #f9cb87;
    line-height: 1;
    
  }
  h2 {
    color: $primary;
    z-index: 2;
    position: relative;
    z-index: 2;
    font-size: 5rem;
    margin: -16rem 0 0;
  }
}
