.form-content {
  max-width: 1400px;
  margin: auto;
  @media (min-width: 769px) {
    & {
      height: 100%;
    }
  }
}
.box-type {
  display: flex;
  flex-direction: column;
  border-left: 1.8px solid #F9CB87;
  padding-left: 50px;

  @media (min-width: 991px) {
    & {
      justify-content: center;
      height: 530px;
      position: relative;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: #d4a4743e;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 10px;
      }
    }
  }
  @media (max-width: 992px) {
    & {
      padding-left: 0;
      border: none;
    }
  }

  @media (max-width: 768px) {
    & {
      margin-top: 40px;
    }
  }
  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d3dad6;
    margin-bottom: 0;
    padding: 20px 15px;
    cursor: pointer;

    &.active {
      background-color: #fef7ed;
    }
    @media (max-width: 992px) {
      margin-bottom: 0;
      padding: 15px 15px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
    .content {
      display: flex;
      align-items: center;
      .box-img {
        width: 150px;
        margin-right: 10px;
        @media (max-width: 992px) {
          & {
            width: 120px;
          }
        }
        @media (max-width: 768px) {
          & {
            width: 100px;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.chocalate-img {
          width: 100px;
        }
      }
      .num-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          color: $primary;
          font-family: $headings-font-family;
          font-weight: bold;
          font-size: 1.3rem;
          @media (max-width: 768px) {
            & {
              font-size: 1rem;
            }
          }
        }
        p {
          margin: 0;
          color: $secondary;
          font-weight: bold;
          font-size: 1.4rem;
          @media (max-width: 768px) {
            & {
              font-size: 1.2rem;
            }
          }
        }
        .price-paace {
          display: flex;
          align-items: center;
          p {
            margin-right: 5px;
          }
          span {
            font-size: 1.1rem;
            color: #a5a5a5;
          }
        }
      }
    }
    label {
      width: 50px;
      height: 50px;
      max-width: 50px;
      border-radius: 50% !important;
      outline: none;
      border: none;
      box-shadow: none;
      position: relative;
    }
    .btn-check:focus + .btn-primary,
    .btn-primary:focus {
      background-color: #d6d1cb;
      box-shadow: none;
    }
    .btn-check:checked + .btn-primary,
    .btn-check:active + .btn-primary,
    .btn-primary:active,
    .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
      &::before {
        content: "";
        position: absolute;
        color: #fff;
        background: url("../images/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        fill: $secondary;
      }
      background-color: $primary;
    }
    .btn-check:checked + .btn-primary:focus,
    .btn-check:active + .btn-primary:focus,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      background-color: $primary;
      box-shadow: none;
    }

    .checkbox-select {
      .form-check-input {
        width: 3.5em;
        height: 3.5em;
        background-color: #d6d1cb;
        border: none;
        cursor: pointer;
        box-shadow: none;
        border-radius: 50%;
        @media (max-width: 768px) {
          & {
            width: 3em;
            height: 3em;
          }
        }
      }
      .form-check-input:checked[type="radio"],
      .form-check-input:checked[type="checkbox"] {
        background-image: url("../images/check.svg");
        background-color: $primary;
      }
    }
  }
}

.select-filling {
  display: flex;
  position: relative;
  flex-direction: column;
  border-bottom: 3px solid $secondary;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  @media(min-width:991px) {&{margin-right: 10px;}}
  @media (max-width: 576px) {
    & {
      margin-top: 40px;
    }
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
  .tab-main {
    border: none;
    margin-bottom: 0 !important;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    .filling-type {
      border: none;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      transition: 0.2s;
      padding: 8px 10px 8px 10px;
      cursor: pointer;
      &.active {
        background-color: $primary;
        .tab-header_img {
          position: relative;
          &::before {
            content: "";
            background-color: $primary;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            z-index: 2;
            top: 0;
            border-radius: 50%;
            opacity: 0.4;
          }
          &::after {
            content: "";
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            width: 35px;
            background-position: center;
            height: 35px;
            position: absolute;
            left: 50%;
            z-index: 3;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .chocolate-content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .chocolate-img {
      width: 60px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h4 {
      margin: 0;
      font-size: 1.2rem;
      color: $primary;
      font-family: $font-family-base;
      font-weight: bold;
    }
  }
  .tab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    &_img {
      margin-right: 10px;
      img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
    }
    &_title {
      h4 {
        font-size: 0.9rem;
        color: $secondary;
        font-family: $font-family-base;
        margin: 0;
      }
    }
  }
  .tab-content {
    .marge-with {
      display: flex;
      border-radius: 30px;
      background-color: $primary;
      align-items: center;
      padding: 0.5rem 1rem;
      span {
        color: $white;
        font-size: 1rem;
        font-weight: bold;
        margin-right: 20px;
      }
      p {
        margin: 0;
        color: $secondary;
        margin-right: 15px;
      }
    }
  }

  .marge-with {
    display: flex;
    align-items: center;
    background-color: $primary;
    padding: 20px;
    border-radius: 30px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 10px;
      width: calc(100% - 20px);
      padding: 0 40px;
    }
    &::-webkit-scrollbar-track {
      background-color: #41210036;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $secondary;
      border-radius: 10px;
    }
    span {
      color: $white;
      font-weight: bold;
      margin-right: 30px;
      white-space: nowrap;
    }
    .marge-content {
      p {
        color: $secondary;
        font-size: 0.8rem;
        margin: 0;
        margin-right: 20px;
        cursor: pointer;
        white-space: nowrap;
      }
      &.active {
        p {
          color: $white;
        }
      }
    }
  }
}

.card-message,
.form-information {
  @media (max-width: 576px) {
    margin-top: 40px;
  }
  label {
    font-family: $font-family-base;
    font-size: 0.8rem;
    color: $primary;
    margin-left: 15px;
  }
  input,
  textarea,
  select,
  .form-control:focus,
  .form-select:focus {
    background-color: #d6d1cb79;
    color: $primary;
    opacity: 1;
    box-shadow: none;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 1rem;
  }
}

.order-number {
  @media (max-width: 992px) {
    & {
      padding-left: 0;
      text-align: center;
    }
  }
  @media (max-width: 576px) {
    & {
      margin-top: 40px;
    }
  }
  span {
    font-size: 1rem;
    color: $primary;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  p {
    font-size: 4rem;
    color: $secondary;
    font-family: $headings-font-family;
    font-weight: bold;
    margin: 0;
  }
}

.about-us {
  &-padding {
    @media (min-width: 992px) {
      padding: 0 50px;
    }
  }
  h2 {
    color: $secondary;
    font-size: 4.8rem;
    font-family: $headings-font-family;
    margin-bottom: 4rem;
    @media (max-width: 1200px) {
      & {
        font-size: 3.5rem;
        margin-bottom: 3rem;
      }
    }
  }
  p {
    color: $white;
    font-size: 0.95rem;
    margin-bottom: 4rem;
  }
  .about-img {
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
  }
  ul.contact-us {
    margin-bottom: 4rem;
    li {
      display: flex;
      margin-bottom: 30px;
      svg {
        color: $secondary;
        width: 2rem;
        height: 2rem;
      }
      span {
        color: $white;
        margin-left: 16px;
        font-size: 1.4rem;
      }
    }
  }
  ul.contact-us-icon {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 50px;
      }
      a {
        color: $secondary;

        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
  @media (max-width: 992px) {
    h2 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
    .about-img {
      margin-bottom: 2rem;
    }
  }
}

.steps {
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: 576px) {
    & {
      margin-top: 40px;
    }
  }
  .col-3,
  .col-sm-2,
  .col-6,
  .col-sm-4 {
    padding: 0;
  }

  .btn {
    background-color: $secondary;
    color: $white;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    @media (max-width: 576px) {
      & {
        font-size: 0.9rem;
      }
    }
  }
  .total-amount {
    text-align: center;
    background-color: $primary;
    padding: 15px;
    @media (max-width: 768px) {
      & {
        padding: 6px;
      }
    }
    p {
      font-size: 1.2rem;
      color: $white;
      margin-bottom: 0.3rem;
      @media (max-width: 576px) {
        & {
          font-size: 0.9rem;
        }
      }
    }
    .price {
      color: $secondary;
      font-size: 1.3rem;
      font-weight: bold;
      @media (max-width: 576px) {
        & {
          font-size: 1.1rem;
        }
      }
    }
  }
  .btn-step-next {
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
  }
  .btn-step-prev {
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
  }
}

.about-page {
  .sidebar {
    .point-steps {
      display: none;
    }
  }
}

.toast-notifcation {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4000;

  .toast-container {
  }
}
.ss {
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 11111;
  background-color: red;
}

.toast {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.toast-body {
  text-align: center;
  color: #d4a474;
  background: #412000;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 20px;
}

.custom-scroll {

  @media (min-width: 991px) {
    & {
      height: 530px;
      position: relative;
      overflow-y: auto; 
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #d4a4743e;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: 10px;
    }
  }
}
