#root {
  height: 100%;
}

#main-content {
  height: 100%;
  margin-left: 200px;
  padding: 2rem;
}
.about-us-main {
  background-color: $primary;
}
h1,
h2 {
  font-family: $headings-font-family;
  font-weight: bold;
}
.main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: repeat;
  z-index: -2;
}

.padding-section {
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper-button-next {
  background: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background: url("../images/arrow-left.svg");
  background-repeat: no-repeat;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  left: 0 !important;
  transform: translateY(25%);
}
.swiper-button-next {
  right: 0 !important;
  transform: translateY(25%);
}

.border-section {
  position: relative;
  padding-left: 50px;
  &::before {
    content: "";
    height: calc(100% + 150px);
    width: 1.2px;
    background: $border-color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &-about {
    position: relative;
    padding-left: 50px;
    &::before {
      content: "";
      height: calc(100% + 40px);
      width: 1.2px;
      background: $border-color;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.slide-next,
.slide-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: $primary;
  svg {
    width: 30px;
    height: 30px;
  }
}

.slide-next {
  right: 0px;
}
.slide-prev {
  left: auto;
}
